


.box_tb_ventas {
    flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    max-height: calc(100vh - 100px);
    border-radius: 18px;
    box-sizing: border-box;

}



.tb_ventas {
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(15px, 3vw, 12px);
    min-width: 500px;
    overflow-y: auto;

}

.tb_ventas thead {
    background: linear-gradient(90deg, #0f172a, #2563eb);
    color: white;
}

.tb_ventas th {
    padding: 12px 10px;
    text-align: center;
    font-size: clamp(10px, 2.8vw, 11px);
    font-weight: 600;
    letter-spacing: .4px;
    white-space: nowrap;
}

.tb_ventas td {
    padding: 14px 8px;
    text-align: center;
    border-bottom: 1px solid #edf2f7;
    color: #334155;
    white-space: nowrap;
    font-weight: bold;
}

.tb_ventas tbody tr {
    transition: .2s ease;
}

.tb_ventas tbody tr:nth-child(even) {
    background: #f8fafc;
}

.tb_ventas tbody tr:hover {
    background: #dbeafe;
}

.tb_ventas thead {
    border-radius: 12px;
}


.tb_ventas td {
    white-space: nowrap;
}

.tb_ventas td button {
    border: none;
    padding: 10px 10px;
    border-radius: 7px;
    font-size: clamp(10px, 2.8vw, 11px);
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease;
    margin: 0 3px;
}

/* MODIFICAR */
.btn_modi_gestion {
    background: #dbeafe;
    color: #2563eb;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}

.btn_modi_gestion:hover {
    background: #2563eb;
    color: white;
}



.tb_ventas td:nth-child(4) {
    color: green;
    font-weight: bold;

}

.tb_ventas td:nth-child(7) {
    color: var(--color-principal);
    font-weight: bold;
}

.tb_ventas td:nth-child(3) {

    font-weight: bold;

}


@media (max-width: 900px) {
    .box_pdr_producto {
        flex-direction: column;
    }

    header {
        width: 100%;
    }

    .box_tb_ventas {
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }

    .box_tb_ventas,
    .tb_ventas {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .box_tb_ventas::-webkit-scrollbar,
    .tb_ventas::-webkit-scrollbar {
        display: none;
    }




}